.job-seeker-image{
    width: 100%;
    height: auto;
}

body {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-size: 1.1rem;
  overflow-x: hidden;
}
body{
    padding-top: 64px;
}

.loading-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  padding: 20px;
}
.center-hv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
  text-align: center;
}
.top-recruiter-col {
  border-bottom: 1px solid #eeeeee;
}
.badge-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row;
  max-width: 100vw;
}