.job-seeker-image {
    width: 100%;
    height: auto;
}

.badge-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
    max-width: 100vw;
}

.badge-container div {
    padding: 20px;
}

.top-recruiter-col {
    border-bottom: 1px solid #eeeeee;
}
