body {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-size: 1.1rem;
  overflow-x: hidden;
  padding-top: 64px;
  background-color: #F5F7F9;
}

.container {
  padding: 20px;
}

.center-hv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
}

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

.full-page {
  min-height: calc(100vh - 64px);
}
